In [1]:
import datetime
import random
import pandas as pd

In [2]:
base = datetime.date(2010,1,1)
date_list = [base + datetime.timedelta(days=x+1) for x in range(3650)]

water_consumption= [random.randrange(50,500) for i in range(3650)]
objective = [96 for i in range(3650)]

In [3]:
df = pd.DataFrame({'fecha':date_list, 'gasto':water_consumption, 'objetivo':objective})
df.head()

        fecha  gasto  objetivo
0  2010-01-02    241        96
1  2010-01-03    428        96
2  2010-01-04     83        96
3  2010-01-05    182        96
4  2010-01-06    388        96

In [2]:
db = pd.read_sql('jiradb_test.sql')

TypeError: read_sql() missing 1 required positional argument: 'con'

In [ ]:
import sqlite3
conn = sqlite3.connect()